.projects-page { 
    display: flex;
    flex-direction: column;
    margin: 7rem 0;
}

.projects-page-title { 
    font-size: 5rem;    
}

.projects-page-title::before,
.projects-page-title::after { 
    content: '';
    display: inline-block;
    width: 100px;
    margin: 0 25px;
    height: 1px;
    vertical-align: middle;
}

.projects-tabs { 
    display: flex;
    justify-content: center;
}

.projects-tabs-title { 
    font-size: 2rem;
    margin-top: 2rem;
    position: relative;
    width: 25%;
    padding: 15px;
}

.active {   
    border-bottom: 1px solid #006a67;
}

@media (max-width: 870px) { 
    .projects-tabs-title { 
        font-size: 1rem !important;
    }
}

@media (max-width: 560px) { 
    .projects-tabs-title { 
        font-size: .8rem !important;
    }
}