.card { 
    width: 50rem;
    margin-top: 5rem;
    max-height: 60rem;
    background-color: #006a67;
    border: none;
}

.card-title { 
    font-size: 2rem !important;
}

.card-text { 
    font-size: 1.2rem !important;
}

.card-footer { 
    display: flex;
    flex-direction: column;
}

.darkMode-card { 
    background-color: #006a67;
}

.lightMode-card { 
    background-color: #070f2b;
}

.technologies-used-title { 
    font-size: 1.5rem;
    margin-top: .5rem;
}

.technology { 
    text-align: start;
}

.technology::before { 
    content: '';
    width: 0;
    border-left: 5px solid #0a2a4a;
    margin-right: 1.5rem;
}

@media (max-width: 650px) { 
    .technologies-used { 
        font-size: .5rem !important
    }
    .card-text { 
        font-size: 1rem !important
    }
    .card-title { 
        font-size: 1.5rem !important;
    }
}

@media (max-width: 456px) { 
    .technologies-used { 
        font-size: .3rem !important
    }
    .technology::before {
        margin-right: 1.2rem !important;
    }
    .card-text { 
        font-size: .7rem !important
    }
    .card-title { 
        font-size: 1rem !important;
    }
}